# --- Secretos y Claves (NUNCA SUBIR) ---
.env
.env.local
.streamlit/secrets.toml

# --- Archivos basura de Python ---
__pycache__/
*.pyc

# --- Entornos Virtuales (opcional pero recomendado) ---
.venv/
env/
venv/

# --- Carpetas del sistema y editor ---
.DS_Store
.vscode/