# --- MOTOR DEL BACKEND (Render) ---
fastapi==0.109.0
uvicorn==0.27.0
python-multipart
pydantic-settings

# --- MOTOR DEL FRONTEND (Streamlit) ---
streamlit
pandas
pydeck
folium
streamlit-folium
watchdog
tomli

# --- CEREBRO (Versiones Modernas Compatibles) ---
# Usamos >= para permitir que se instalen las versiones que arreglan el bug de 'proxy'
supabase>=2.6.0
openai>=1.55.0