# --- MOTOR DEL BACKEND (Render) ---
fastapi==0.109.0
uvicorn==0.27.0
python-multipart
pydantic-settings

# --- MOTOR DEL FRONTEND (Streamlit) ---
streamlit
pandas
pydeck
folium
streamlit-folium
watchdog
tomli

# --- CEREBRO Y BASE DE DATOS (Versiones de Paz) ---
supabase==2.3.0
openai==1.12.0
httpx==0.24.1
httpcore==0.17.3